<!DOCTYPE html>
<html>
<head>
    <title>飞奔游戏-体感包月</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="page-view-size" content="1280*720">
</head>
<body>
<div id="game-page" class="game-page">
    <div id="game-item0" class="game-item">
        <div class="game-item-focus0"></div>
        <img class="game-item-img" src="img/0.png">
    </div>
    <div id="game-item1" class="game-item">
        <div class="game-item-focus0"></div>
        <img class="game-item-img" src="img/0.png">
    </div>
    <div id="game-item2" class="game-item">
        <div class="game-item-focus1"></div>
        <img class="game-item-img" src="img/0.png">
    </div>
    <div id="game-item3" class="game-item">
        <div class="game-item-focus2"></div>
        <img class="game-item-img" src="img/0.png">
    </div>
    <div id="game-item4" class="game-item">
        <div class="game-item-focus0"></div>
        <img class="game-item-img" src="img/0.png">
    </div>
</div>

<script type="text/javascript" src="js/es5-shim.min.js"></script>
<script type="text/javascript" src="js/es5-sham.min.js"></script>
</body>
</html>