<!DOCTYPE html>
<html>
<head>
    <title>飞奔游戏-主界面</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="page-view-size" content="1280*720">
    <script type="text/javascript">
        try {
            if (System) {
                window.System = System;
            }
        } catch (e) {
        }
    </script>
</head>
<body>
<div id="home-page" class="home-page">
    <div id="home-item0" class="home-item">
        <div class="home-item-focus0"></div>
        <img class="home-item-img" src="img/0.png">
    </div>
    <div id="home-item1" class="home-item">
        <div class="home-item-focus0"></div>
        <img class="home-item-img" src="img/0.png">
    </div>
    <div id="home-item2" class="home-item">
        <div class="home-item-focus0"></div>
        <img class="home-item-img" src="img/0.png">
    </div>
    <div id="home-item3" class="home-item">
        <div class="home-item-focus1"></div>
        <img class="home-item-img" src="img/0.png">
    </div>
    <div id="home-item4" class="home-item">
        <div class="home-item-focus1"></div>
        <img class="home-item-img" src="img/0.png">
    </div>
    <div id="text-div"><img src="img/0.png"></div>
</div>

<script type="text/javascript" src="js/es5-shim.min.js"></script>
<script type="text/javascript" src="js/es5-sham.min.js"></script>
</body>
</html>