<html>
<head>
    <title>飞奔游戏-页游包月</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="page-view-size" content="1280*720">
</head>
<body>
<div id="java20-page" class="java20-page">
    <div id="java20-item0" class="java20-item">
        <div class="java20-item-focus5"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item1" class="java20-item">
        <div class="java20-item-focus5"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item2" class="java20-item">
        <div class="java20-item-focus7"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item3" class="java20-item">
        <div class="java20-item-focus8"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item4" class="java20-item">
        <div class="java20-item-focus6"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item5" class="java20-item">
        <div class="java20-item-focus6"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item6" class="java20-item">
        <div class="java20-item-focus5"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item7" class="java20-item">
        <div class="java20-item-focus5"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item8" class="java20-item">
        <div class="java20-item-focus7"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item9" class="java20-item">
        <div class="java20-item-focus0"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item10" class="java20-item">
        <div class="java20-item-focus1"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item11" class="java20-item">
        <div class="java20-item-focus3"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item12" class="java20-item">
        <div class="java20-item-focus2"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item13" class="java20-item">
        <div class="java20-item-focus4"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item14" class="java20-item">
        <div class="java20-item-focus4"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item15" class="java20-item">
        <div class="java20-item-focus5"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item16" class="java20-item">
        <div class="java20-item-focus5"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item17" class="java20-item">
        <div class="java20-item-focus5"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
    <div id="java20-item18" class="java20-item">
        <div class="java20-item-focus5"></div>
        <img class="java20-item-img" src="img/0.png">
    </div>
</div>

<!--<img src="img/java20/arrowLeft.png" style="position:absolute;width:40px;height:63px;left:12px;top:330px;">-->
<!--<img src="img/java20/arrowRight.png" style="position:absolute;width:40px;height:63px;left:1229px;top:330px;">-->

<script type="text/javascript" src="js/es5-shim.min.js"></script>
<script type="text/javascript" src="js/es5-sham.min.js"></script>
</body>
</html>