<!DOCTYPE html>
<html>
<head>
    <title>飞奔游戏-单点游戏</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="page-view-size" content="1280*720">
</head>
<body>
<div id="java10-page" class="java10-page">
    <div id="java10-item0" class="java10-item">
        <div class="java10-item-focus0"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
    <div id="java10-item1" class="java10-item">
        <div class="java10-item-focus1"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
    <div id="java10-item2" class="java10-item">
        <div class="java10-item-focus3"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
    <div id="java10-item3" class="java10-item">
        <div class="java10-item-focus2"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
    <div id="java10-item4" class="java10-item">
        <div class="java10-item-focus4"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
    <div id="java10-item5" class="java10-item">
        <div class="java10-item-focus4"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
    <div id="java10-item6" class="java10-item">
        <div class="java10-item-focus5"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
    <div id="java10-item7" class="java10-item">
        <div class="java10-item-focus5"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
    <div id="java10-item8" class="java10-item">
        <div class="java10-item-focus5"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
    <div id="java10-item9" class="java10-item">
        <div class="java10-item-focus5"></div>
        <img class="java10-item-img" src="img/0.png">
    </div>
</div>

<script type="text/javascript" src="js/es5-shim.min.js"></script>
<script type="text/javascript" src="js/es5-sham.min.js"></script>
</body>
</html>