<!DOCTYPE html>
<html>
<head>
    <title>飞奔游戏-跳转</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="page-view-size" content="640*526">
</head>
<body style="background-color: azure">
<div id="biz1"></div>
<script type="text/javascript" src="js/es5-shim.min.js"></script>
<script type="text/javascript" src="js/es5-sham.min.js"></script>
</body>
</html>