<!DOCTYPE html>
<html>
<head>
    <title>飞奔游戏-天天转</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="page-view-size" content="1280*720">
</head>
<body>
<div id="turntable-page" class="turntable-page">
    <div class="turntable-table" id="turntable-table">
        <div class="turntable-pointer" id="turntable-pointer"><img src="img/0.png"><img src="img/0.png" id="turntable-text"></div>
        <div class="turntable-item" id="turntable-item0"><div class="turntable-focus" id="turntable-focus0"></div><img src="img/0.png"></div>
        <div class="turntable-item" id="turntable-item1"><div class="turntable-focus" id="turntable-focus1"></div><img src="img/0.png"></div>
        <div class="turntable-item" id="turntable-item2"><div class="turntable-focus" id="turntable-focus2"></div><img src="img/0.png"></div>
        <div class="turntable-item" id="turntable-item3"><div class="turntable-focus" id="turntable-focus3"></div><img src="img/0.png"></div>
        <div class="turntable-item" id="turntable-item4"><div class="turntable-focus" id="turntable-focus4"></div><img src="img/0.png"></div>
        <div class="turntable-item" id="turntable-item5"><div class="turntable-focus" id="turntable-focus5"></div><img src="img/0.png"></div>
    </div>

    <div class="winners_wrap">
        <div class="winners_header">
            <div class="winners_header_nav">
                <img src="img/turntable/winners.png">
            </div>
        </div>
        <div class="winners_main">
            <div class="winners_content" id="scrollBox">
                <ul id="con1">
                    <li id="con1-li0"></li>
                    <li id="con1-li1"></li>
                    <li id="con1-li2"></li>
                    <li id="con1-li3"></li>
                    <li id="con1-li4"></li>
                    <li id="con1-li5"></li>
                    <li id="con1-li6"></li>
                    <li id="con1-li7"></li>
                    <li id="con1-li8"></li>
                    <li id="con1-li9"></li>
                    <li id="con1-li10"></li>
                    <li id="con1-li11"></li>
                    <li id="con1-li12"></li>
                    <li id="con1-li13"></li>
                    <li id="con1-li14"></li>
                </ul>
                <ul id="con2">
                    <li id="con2-li15"></li>
                    <li id="con2-li16"></li>
                    <li id="con2-li17"></li>
                    <li id="con2-li18"></li>
                    <li id="con2-li19"></li>
                    <li id="con2-li20"></li>
                    <li id="con2-li21"></li>
                    <li id="con2-li22"></li>
                    <li id="con2-li23"></li>
                    <li id="con2-li24"></li>
                    <li id="con2-li25"></li>
                    <li id="con2-li26"></li>
                    <li id="con2-li27"></li>
                    <li id="con2-li28"></li>
                    <li id="con2-li29"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="notice">
        <div class="title" id="notice-title"><span>活动须知:</span></div>
        <div class="notice-content">
            <p>1.所有用户每天可参与抽奖一次</p>
            <p>2.奖品须在七日内领取，逾期失效</p>
            <p>3.飞奔游戏包月用户方可领取奖品</p>
            <p>4.奖品领取请点击我的奖品栏领取奖品按钮</p>
            <p>5.奖品领取所产生的物流费用由用户承担</p>
            <p>6.查询活动相关可联系飞奔客服热线4006682886</p>
            <p>7.本次活动最终解析权归广州飞奔科技有限公司</p>
        </div>
    </div>

    <div class="Myprize">
        <div class="title" id="prize-title"><span>我的奖品:</span></div>
        <div id="prize-content">
        </div>
        <div id="prize-btn" class="prize-btn"><span>领取奖品</span></div>

    </div>

</div>

<script type="text/javascript" src="js/es5-shim.min.js"></script>
<script type="text/javascript" src="js/es5-sham.min.js"></script>
</body>
</html>